@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');

.container-config{
    display: flex;
    width: fit-content;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0px;
    padding: 15px 30px;
    background-color: #C877F2;
    border-radius: 6px;
    gap: 15px;
}

.container-config>a{
    font-family: 'Paprika', Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
    width: 90px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.container-config>a:hover{
    color: black;
}