@import url('https://fonts.cdnfonts.com/css/porter-sans-block');
@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');


.main-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    height: auto;
    gap: 38px;
    margin: 0;
    padding: 0;
}

.text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
    /*  para web será 32px */
    font-family: 'Porter Sans Block', sans-serif;
    gap: 10px;
    margin-top: 38px;
}

.main-power {
    display: flex;
    gap: 10px;
}

.yellow {
    color: #FBC253;
}

.main-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.green {
    color: #69AF50;
}

.main-carrossel {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-around;
    margin-bottom: 200px;
    gap: 5px;
}

.main-carrossel>div>img {
    border-radius: 15px;
    box-shadow: 4px 3px #FBC253;
    cursor: pointer;
}

.main-carrossel>div>img:active {
    box-shadow: 4px 3px black;
}

.category{
    position: relative;
    text-align: center;
    bottom: 40px;
    left: 35px;
    right: 5px;
    font-family: "Paprika", system-ui;
    transform: rotate(-9deg);
    font-size: 20px;
    color: deeppink;
    font-weight: bold;
    padding: 2px 0px; 
    background-color: #E18484;
}

.carrossel-top {
    cursor: pointer;
    position: relative;
    top: 139px;
}

.carrossel-top>img {
    border-radius: 15px;
    box-shadow: 4px 3px #69AF50;
}

.carrossel-top>img:active {
    box-shadow: 4px 3px black;
}

.main-button {
    display: flex;
    position: fixed;
    cursor: pointer;
    width: 190px;
    height: 55px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    right: -20px;
    bottom: 30px;

    font-size: 20px;
    font-family: "Paprika";
    background-color: #B1E488;
    gap: 20px;
}

.main-button:active {
    background-color: green;
    color: white;
    font-size: 18px;
}

.main-notice {
    position: fixed;
    display: flex;
    justify-content: center;

    width: 100%;
    bottom: 0;
    color: white;
    background-color: #E18484;
}