.more-container {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    padding: 6px 0px;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.more-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.more-info>div>h1 {
    display: flex;
    margin-bottom: 16px;
}

.more-info>img {
    border-radius: 10px;
}

.more-info>div>input {
    width: 20px;
    height: 20px;
}