@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');

.container {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #E18484;
    align-items: center;
    justify-content: space-between;
    padding: 15px 26px 0px 26px;
}

.logoSmall{
    display: none;
}

.icons {
    display: flex;
    width: 140px;
    justify-content: space-between;
}

.icons>img {
    width: 34px;
    height: 34px;
}

.icons>img:hover {
    border: 1px solid aliceblue;
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
}

.icons>img:active {
    background-color: aliceblue;
}

.menuOpen {
    display: none;
}

/*  MOBILE  */
@media screen and (max-width: 650px) {

    .logoSmall{
        display: flex;
    }

    .logo{
        display: none;
    }

    .icons :last-child {
        display: none;
    }

    .header-search {
        display: flex;
        position: absolute;
        top: 70px;
        right: 0;
        width: fit-content;
        z-index: 20;
    }

    .menuOpen {
        display: flex;
        position: absolute;
        align-items: center;
        height: 92.3vh;
        justify-content: center;
        gap: 40px;
        flex-direction: column;
        width: 100%;
        background-color: #FEABFF;
        z-index: 10;
    }
    
    .menuOpen>a {
        font-family: 'Paprika', Arial, Helvetica, sans-serif;
        font-size: 22px;
        color: white;
        text-decoration: none;
        border: 1px solid transparent;
    }

    .menuOpen>a:hover {
        color: gray;
        border-bottom: 1px solid #E18484;
    }

    .menuOpen>a:active{
        color:black;
    }

}

/* TABLET and DESKTOP */
@media screen and (min-width: 651px) {

    .icons {
        width: 85px;
    }

    .icon-search {
        display: none;
    }

    .icon-menu {
        display: none;
    }
}