@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');


.sidebar-container {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}


.sidebar-content {
    max-width: 1387px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #DF59F0;
    gap: 15px;
}

.sidebar-link {
    font-size: 20px;
    font-family: 'Paprika', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #DF59F0;
    font-weight: 500;
    padding: 0px 6px;
    border-right: 2px solid transparent;
}

.sidebar-link:hover {
    border-right: 2px solid #DF59F0;
    color: grey;
}

.sidebar-link:active {
    color: black;
}


@media screen and (max-width: 1040px) {

    .sidebar-link {
        font-size: 14px;
        font-weight: bold;
    }
}

/*  MOBILE  */
@media screen and (max-width: 650px) {

    .sidebar-container {
        display: none;
    }
}