.footer-container {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: pink;
    align-items: center;

    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-evenly;
    padding: 20px 0px;
    gap: 12px;
}

.footer-logo {
    display: flex;
    width: 168px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-wrap: wrap;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.footer-container>p {
    font-size: 12px;
}

.footer-logoSmall {
    display: none;
}

.footer-links {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    font-size: 16px;
}

.footer-links>a {
    text-decoration: none;
    color: black;
    border: 2px solid transparent;
    font-weight: bold;
}

.footer-links>a:hover {
    border-bottom: 2px solid red;
}

@media screen and (max-width:650px) {

    .footer-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .footer-logo {
        display: none;
    }

    .footer-logoSmall {
        display: flex;
    }
}